
<ion-content>
  
  <ion-content>
    <ion-card class="tool">
      <ion-card-header>
        Customer Name : Gara
      </ion-card-header>
      <ion-card-content>
        <ion-label>Email:</ion-label>
        <ion-text>Gara@email.com</ion-text>
        <br><br>
        <ion-label>Mobile No:</ion-label>
        <ion-text>8902398732</ion-text>
        <br><br>
        <ion-label>District:</ion-label>
        <ion-text>Hidden Sand</ion-text>
      </ion-card-content>
    </ion-card>

    <ion-card class="tool">
      <ion-card-header>
        Customer Name : Jade
      </ion-card-header>
      <ion-card-content>
        <ion-label>Email:</ion-label>
        <ion-text>jade234@email.com</ion-text>
        <br><br>
        <ion-label>Mobile No:</ion-label>
        <ion-text>232398732</ion-text>
        <br><br>
        <ion-label>District:</ion-label>
        <ion-text>Tokyo</ion-text>
      </ion-card-content>
    </ion-card>

    <ion-card class="tool">
      <ion-card-header>
        Customer Name : Minato
      </ion-card-header>
      <ion-card-content>
        <ion-label>Email:</ion-label>
        <ion-text>minato564@email.com</ion-text>
        <br><br>
        <ion-label>Mobile No:</ion-label>
        <ion-text>5342398732</ion-text>
        <br><br>
        <ion-label>District:</ion-label>
        <ion-text>Hidden Leaf</ion-text>
      </ion-card-content>
    </ion-card>
  </ion-content>
  
</ion-content>
